h2{
    background-color: yellow;
}
.Question{
     text-align: center;
}
h1{
    text-align: center;
    background-color: blue;
}
#EnterAnswer{
    display: block;

}
#Question__ShowAnswer{
    display: inline-block;
    align-content: center;
}